
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
   color: #fff;
    background-color:#0f172a ;
}


.logo-glow {
  color: #3b82f6; 
  text-shadow:
    0 0 5px #3b82f6,
    0 0 10px #3b82f6,
    0 0 20px #2563eb,
    0 0 40px #1d4ed8;
  transition: all 0.2s ease;
}

.logo-glow:hover {
  text-shadow:
    0 0 20px #3b82f6,
    0 0 40px #2563eb,
    0 0 80px #1d4ed8;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
 
.navbar a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
.navbar li{
    margin: 10px;
    padding: 5px;
     text-decoration: none;
    color: #fff;
    display: flex;

}
.hero{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn
{
 border-radius: 10px;
 margin-top: 15px;
  color: #000;
  text-decoration: none;
border: #000;
}

#btn:hover{
    background: #000;
    color: #fff;
    background-color:darkblue;
}

.projects-box{
   text-align: center;
}